body {
  background-color: #f3e5d8;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe_intro h1 {
  color: hsl(24, 5%, 18%);
}

h1,
h2,
h3 {
  font-family: "Young Serif", sans-serif;
  color: hsl(14, 45%, 36%);
  padding: 0 0 20px 0;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #d5d3d1;
  padding: 8px;
  text-align: center;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: 700;
}

.container {
  margin: 4rem auto;
  width: 50%;
  padding: 50px;
  background-color: #fff;
  color: hsl(24, 5%, 18%);
}

.recipe_image img {
  max-width: 100%;
  border-radius: 12px;
}

.container .recipe_intro h1 {
  font-size: 50px;
  font-weight: 400;
}

.recipe_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.recipe_preparation {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 60px;
  background-color: #fce8f5a4;
  margin: 30px;
}

.recipe_preparation h3 {
  color: hsl(332, 51%, 32%);
  padding: 0 0 20px 0;
}

.recipe_preparation ul li {
  padding: 5px 20px;
}

.recipe_preparation ul {
  padding: 5px 20px;
}

.marker::marker {
  color: hsl(332, 51%, 32%);
}

.li_color::marker {
  color: hsl(14, 45%, 36%);
}

.Ingredients {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
}

.Ingredients ul li {
  padding: 5px 20px;
}

.Ingredients ul {
  padding: 0 0 0 15px;
}

.li_intro::marker {
  color: hsl(14, 45%, 36%);
}

.instructions {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
}

.instructions ol li {
  padding: 5px 20px;
}

.instructions ol {
  padding: 0 0 0 15px;
}

.nutrition {
  display: flex;
  flex-direction: column;
  padding: 5px 30px 30px;
  gap: 10px;
}

.nutrition .coluna2 {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
    padding: 8px 0px 10px 300px ;
  }
